<!DOCTYPE html>
<html>
<head>
  <title>Magazine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "magazine", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <%if user_signed_in? %>
         signed in as <%= current_user.email %>. not you?
        <li><%= link_to "Users", users_path %></li>
          <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
        </li>
        <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
<div class="container">
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<%= yield %>
<div>

</body>
</html>





